<?xml version="1.0"?>

<launch>

    <rosparam file="$(find hector_quadrotor_controller)/params/controller.yaml" />
    <rosparam file="$(find quadrotor_mpc)/scripts/yaml/config.yaml" />
    <rosparam file="$(find quadrotor_mpc)/scripts/yaml/mat_utils.yaml" />
    <rosparam file="$(find quadrotor_mpc)/config/MPC_parameters.yaml" />
    <node name="casadi_model_node" pkg="quadrotor_mpc" type="casadi_model_node" output="screen" cwd="node">
    </node>

</launch>
